body {
background-color:#222223;
color:#ffdded;
font-size:18pt;
}

h1{
	color:#aaf;
	font-size:26pt;
}

h2 {
color:#afa;
	font-size:22pt;
}

h3 {
	color:#33a;
	font-size:14pt;
	margin-bottom:-7pt;
		margin-top:-7pt;

}

h4 {
color:#aaa;
	font-size:14pt;

}

#panda {
	height:180pt;
	width:820pt;
    border-radius:60pt;
    border:4pt solid #ffcdaa;
}

mark {
text-decoration:underline;
background-color:transparent;
color:#44f;
}



#sim {
	height:5px;
	width:5px;
	border:none;
	margin-top:-30pt;
}

#sim:hover {
	scale:50000%;
	transition-duration:2s;
	opacity:0%;
}


section {
zoom:189%;
}

#quadrado {
background:#a12;
border:2px solid #000;
display:flex;
width:60%;
margin-left:20%;
}

#boto {
height:172px;
float:left;
width:40%;
margin-left:10%;
background:#aaf;
}

#tabuada {
float:left;
width:40%;
background:#afa;
}


label {
margin-left:20%;
}