body {
background-color:#222223;
color:#ffdded;
font-size:20pt;
}

h1{
	color:#aaf;
	font-size:30pt;
}

h2 {
color:#afa;
	font-size:25pt;
}

h3 {
	color:#33a;
	font-size:15pt;
}

h4 {
color:#aaa;
	font-size:15pt;

}
